<!DOCTYPE html>
<html>

	<title>Delivery and pickup form</title>

	<head>
  		<meta name="author" content="Konrad Komisarczyk, Mariusz Słapek">
		<link rel="stylesheet" type="text/css" href="../static/css/form.css" />
	<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	   crossorigin=""/>
	    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
		
	    
	</head>

<body>
	<h1>Informacje o paczce</h1>

	<form method="post" action="/">

	<div class="row">
		<div class="column">
			<fieldset class="perData">
				<legend class="standardLegend">Dane zamawiającego</legend>
				<label class="standardLabel" for="fname">Imię</label><br>
				<input type="text" id="fname" class="standardInput" name="fname" placeholder="Jan"><br>
				
				<label class="standardLabel" for="lname">Nazwisko</label><br>
				<input type="text" id="lname" class="standardInput" name="lname" placeholder="Kowalski"><br>

				<label class="standardLabel" for="name">Nazwa firmy (opcjonalnie)</label><br>
				<input type="text" id="name" class="standardInput" name="name" minlength="1" maxlength="20" size="10"><br>
				
				<label class="standardLabel" for="email">E-mail</label><br>
				<input type="email" id="email" class="standardInput" name="email" placeholder="email@example.com" ><br>
				
				<label class="standardLabel" for="phone">Telefon</label><br>
				<input type="tel" id="phone" class="standardInput" name="phone" placeholder="000-000-000" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" >
			</fieldset>

			<fieldset class="perData">
				<legend class="standardLegend">Adres dostawy</legend>
				<label class="standardLabel" for="delAddress">Ulica</label><br>
				<input name="ship-address" id="delAddress" class="standardInput" placeholder="Mazowiecka 14" autocomplete="shipping street-address"><br>

				<label class="standardLabel" for="delCity">Miasto</label><br>
				<input name="ship-city" id="delCity" class="standardInput" placeholder="Warszawa" autocomplete="shipping locality" ><br>

				<label class="standardLabel" for="delState">Województwo</label><br>
				<input name="ship-state" id="delState" class="standardInput" placeholder="Mazowieckie" autocomplete="shipping region" ><br>

				<label class="standardLabel" for="delZip">Kod pocztowy</label><br>
				<input name="ship-zip" id="delZip" class="standardInput" placeholder="00-000" pattern="[0-9]{2}-[0-9]{3}" autocomplete="shipping postal-code" ><br>

				<input class="locationButton pinkButton" type="button" onclick="showDeliveryMap();" value="Wskaż adres na mapie"/>
				<span id="deliveryMapConfirmed" class="locationConfirmation">&#10003;</span>	
				<input name="ship-map" id="deliveryLocation" class="mapInput" value="" >
			</fieldset>
		</div>
		
		<div class="column">
			<fieldset class="perData">
				<legend class="standardLegend">Adres zwrotu</legend>
				<label class="standardLabel" for="retAddress">Ulica</label><br>
				<input name="ship-address" id="retAddress" class="standardInput" placeholder="Mazowiecka 14" autocomplete="shipping street-address" ><br>

				<label class="standardLabel" for="retCity">Miasto</label><br>
				<input name="ship-city" id="retCity" class="standardInput" placeholder="Warszawa" autocomplete="shipping locality" ><br>
	
				<label class="standardLabel" for="retState">Województwo</label><br>
				<input name="ship-state" id="retState" class="standardInput" placeholder="Mazowieckie" autocomplete="shipping region" ><br>

				<label class="standardLabel" for="retZip">Kod pocztowy</label><br>
				<input name="ship-zip" id="retZip" class="standardInput" placeholder="00-000" pattern="[0-9]{2}-[0-9]{3}" autocomplete="shipping postal-code" ><br>

				<input class="locationButton pinkButton" type="button" onclick="showPickupMap();" value="Wskaż adres na mapie"/>
				<span id="pickupMapConfirmed" class="locationConfirmation">&#10003;</span>	
				<input name="ship-map" id="pickupLocation" class="mapInput" value="" >
			</fieldset>

			<fieldset class="perData">
				<legend class="standardLegend">Dodatkowe informacje</legend>
				<label class="standardLabel" for="addInfo">Wiadomość dla dostawcy (opcjonalnie)</label><br>
				<textarea name="additional-message" id="addInfo" class="standardInput" cols="40" rows="4"></textarea><br>

				<input type="checkbox" id="priority" name="priority">
				<label class="standardLabel" for="priority">Paczka priorytetowa (opcjonalnie)</label><br><br>

				<input type="checkbox" id="glass" name="glass">
				<label class="standardLabel" for="glass">Paczka zawiera elementy szklane (opcjonalnie)</label><br><br>

				<label class="standardLabel" for="weight">Masa paczki</label><br>
				<input name="weight" id="weight" class="standardInput" pattern="(0*[1-9][0-9]*(\.[0-9]+)?)|(0+\.0*[1-9][0-9]*)" placeholder="0.1" size="4">
				<select name="weight-unit" id="weightUnit">
					<option value="kg">kg</option>
					<option value="g">g</option>
				</select>
				<br/>
				
				<label class="standardLabel" for="dim1">Wymiary paczki</label><br>
				<input name="package-dimension-1" id="dim1" class="standardInput" pattern="(0*[1-9][0-9]*(\.[0-9]+)?)|(0+\.0*[1-9][0-9]*)" placeholder="10"size="4" >cm x
				<input name="package-dimension-2" id="dim2" class="standardInput" pattern="(0*[1-9][0-9]*(\.[0-9]+)?)|(0+\.0*[1-9][0-9]*)" placeholder="20" size="4" >cm x
				<input name="package-dimension-3" id="dim3" class="standardInput" pattern="(0*[1-9][0-9]*(\.[0-9]+)?)|(0+\.0*[1-9][0-9]*)" placeholder="30" size="4" >cm
			</fieldset>

		</div>

	</div>
	
	<span class="centeredButton">
		<input class="pinkButton submitButton" type="submit" value="Nadaj"/>
	</span>
	
</form>

<script type="text/javascript" src="../static/form.js"></script>

<div id="mapPickup" class="map">
</div>
<div id="mapPickupHide" class="mapHideButtonWrapper">
	<span class="centeredButton">
		<input type="button" class="pinkButton" onclick="hidePickupMap();" value="Zamknij mapę"/>
	</span>
</div>

<div id="mapDelivery" class="map">
</div>
<div id="mapDeliveryHide" class="mapHideButtonWrapper">
	<span class="centeredButton">
		<input type="button" class="pinkButton" onclick="hideDeliveryMap();" value="Zamknij mapę"/>
	</span>
</div>


</body>
</html>